<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{{html}}}

    <script src="{{assets.[vendors.js]}}"></script>
    <script src="{{assets.[client.js]}}"></script>
  </body>
</html>
